$img-height:472px;
$img-width:700px;
$button-width:100px;
$color-on:orangered;

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  padding: 20px;
}
#container{
  margin: 0 auto;
  position: relative;
  height:$img-height;
  width: $img-width;
  overflow: hidden;
  border: 1px solid black;

  #list{
    height: $img-height;
    width: $img-width*7;
    position: absolute;
    z-index: 1;
    left:-$img-width;

    img{
      height: $img-height;
      width: $img-width;
      float: left;
    }
  }

  #button{
    position: absolute;
    height: 20px;
    width: $button-width;
    z-index: 2;
    bottom: 20px;
    left: $img-width/2-$button-width;

    span{
      float: left;
      cursor: pointer;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      margin: 4px;
      background-color: gainsboro;
    }

    .on{
      background-color: $color-on;
    }
  }

  .arrow{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    font-size: 40px;
    font-weight:bold;
    top:200px;
    margin: 20px;
    background-color: rgba(0,0,0,0.1);
    color: #fff;
    display: none;
    padding: 5px;

    &:hover{
      background-color: rgba(0,0,0,0.7);
    }
  }


  #prev{
    left: 20px;
  }
  #next{
    right: 20px;
  }
  &:hover .arrow{
    display: block;
  }
}
